<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://40.71.230.36:10000/Portal</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://40.71.230.36:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>WellFitApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WELLFITSERVER\wellfit-admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WellFitSQLConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WellFitPlus.Database.Contexts.WellFitDataContext, WellFitPlus.Database" MigrationConfiguration="WellFitPlus.Database.Migrations.Configuration, WellFitPlus.Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WellFitAuthConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WellFitPlus.Database.Contexts.WellFitAuthContext, WellFitPlus.Database" MigrationConfiguration="WellFitPlus.Database.AuthenticationMigrations.Configuration, WellFitPlus.Database" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WellFitAuthConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WellFitSQLConnection-Web.config Connection String" />
  </ItemGroup>
</Project>